<!DOCTYPE html>
<html lang="nl-be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <meta name="description"
        content="This is the 404 page for Deal the Meal. Be sure to visit a real existing resource.">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="page--404">
    <main class="main">
        <div class="">
            <h1 class="title">404</h1>
            <p class="sub-title">We couldn't find the page you are looking for.</p>
        </div>
    </main>
</body>
</html>